<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<h1 style="text-align: center;">MASTERS ACADEMY 2020-2021</h1>
<table width="100%">
  <tr>
    <td>
      <table width="100%" height="100%">
        <tr>
          <td><canvas id="pie" width="300vh" height="300vw"></td>
        </tr>
        <% @data[:rating].sort_by { |k, v| v }.reverse.each do |title, count| %>
                  <tr>
                    <td style="font-size: 30px"><%= title %></td>
                    <td style="font-size: 30px"><%= (count.to_f / @data[:total] * 100).round(2) %>% (<%= count %>)</td>
                  </tr>
        <% end %>
      </table>
    </td>
    <td width="50%" style="text-align: center;">
      <span style="font-size: 40px; color: red">TOTAL CHARITY ₴<%= @data[:total_charity] %></span>
      <canvas id="pie1" width="900"></canvas>
    </td>
  </tr>
</table>
<script>
    new Chart(document.getElementById("pie"), {
        type: 'pie',
        data: {
            labels: <%= raw @data[:rating].map { |k, v| "#{k} (#{v})" } %>,
            datasets: [{
                label: "MA",
                backgroundColor: ["green", "lime","blue","yellow","red"],
                data: <%= raw @data[:rating].values %>
            }]
        },
        options: {
            title: {
                display: true,
                text: 'MASTERS ACADEMY 2020-2021'
            },
            tooltips: {
                intersect: false
            }
        }
    });

    new Chart(document.getElementById("pie1"), {
        type: 'pie',
        data: {
            labels: <%= raw @data[:charity].keys.map(&:to_s) %>,
            datasets: [{
                label: "MA",
                backgroundColor: ["lime","blue"],
                data: <%= raw @data[:charity].values %>
            }]
        },
        options: {
            title: {
                display: true,
                text: 'MASTERS ACADEMY 2020-2021'
            },
            tooltips: {
                intersect: false
            }
        }
    });

    // setTimeout(function(){
    //     window.location.reload(false);
    // }, 30000)
</script>